name: Publish

on:
  push:
    branches: [master]

jobs:
  test:
    uses: ./.github/workflows/pull-request.yml

  publish-npm:
    name: NPM
    needs: [test]
    runs-on: ubuntu-latest
    environment: npm
    permissions:
      contents: write
      pull-requests: write
      issues: write
      id-token: write
    steps:
      - name: Checkout project
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.PUSH_TOKEN }}

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Setup Registries
        run: |
          yarn config set --home 'npmRegistries["https://registry.npmjs.org"].npmAuthToken' '${{ secrets.NPM_TOKEN }}'
          yarn config set --home npmPublishRegistry https://registry.npmjs.org

      - name: Restore cache
        uses: actions/cache@v5
        with:
          key: ${{ needs.test.outputs.cache-key }}
          path: ${{ needs.test.outputs.cache-path }}

      - name: Build
        run: yarn build

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.PUSH_TOKEN }}
        with:
          extra_plugins: |
            @semantic-release/exec@^7
